.sidenav{
    height: 100vh;
    min-width: 160px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sidenav a{
    color: white;
    text-decoration: none;
}