{% extends "main/base.html" %}
{% block title %} View List {% endblock %}

{% block content %}
    <h1>{{ls.name}}</h1>
    <form method="POST" action="#">
        {% csrf_token %}
        {% for item in ls.item_set.all %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    {% if item.complete == True %}
                        <input 
                            type="checkbox" 
                            name="c{{item.id}}" 
                            value="clicked"
                            checked
                        > 
                    {% else %}
                        <input 
                            type="checkbox" 
                            name="c{{item.id}}" 
                            value="clicked"
                        > 
                    {% endif %}
                </div>
                <input type="text" name="" value="{{item.text}}" class="form-control">
            </div>
            {% endfor %}
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button class="btn btn-success" type="submit" name="newItem" value="newItem">Add</button>
            </div>
            <input type="text" name="new" >
        </div>

        <button type="submit" name="save" class="btn btn-success" value="save">Save</button>
    </form>
{% endblock %}